     <h1 id="hakki">HAKKIMIZDA</h1>
     <h1 class="bg-info">BİLGİSİ</h1>
    <br>
    <div class="row">
        <div class="col-3">A</div>
        <div class="col-3">B</div>
        <div class="col-3"></div>
        <div class="col-3 text-right"> <i class="fas fa-print"></i></div>

    </div>
    

    <div class="container bg-light">
        <center><img src="images/logoSefkat.PNG" style="box-shadow: 0 0 6px 4px black;border-radius: 25px;">
        </center>
        <h4>Okulumuz 2011 yılından itibaren liselerinde bir düzenleme yaparak eğitim öğretime Fen Lisesi ve Anadolu
            Lisesi olarak devam etme kararı almıştır.

            2015-2016 eğitim öğretim yılında Özel Gaziosmanpaşa Şefkat İlkokulu bünyesinde üstün yetenekli öğrenciler
            için özel proje sınıfı açılmıştır. Proje 2018-2019 yılından itibaren bütün ilkokulumuzda uygulanmaya
            başlanmıştır.

            Günümüz itibariyle Bahçelievler’de bir ilkokul ve ortaokul; Gaziosmanpaşa’ da ise bir ilkokul, bir ortaokul,
            bir Anadolu bir de Fen Lisesi olarak toplam 6 okulu ile eğitime hizmet etmeye devam etmektedir.</h4>
        <hr>
        <h4>Okulumuz 2011 yılından itibaren liselerinde bir düzenleme yaparak eğitim öğretime Fen Lisesi ve Anadolu
            Lisesi olarak devam etme kararı almıştır.

            2015-2016 eğitim öğretim yılında Özel Gaziosmanpaşa Şefkat İlkokulu bünyesinde üstün yetenekli öğrenciler
            için özel proje sınıfı açılmıştır. Proje 2018-2019 yılından itibaren bütün ilkokulumuzda uygulanmaya
            başlanmıştır.

            Günümüz itibariyle Bahçelievler’de bir ilkokul ve ortaokul; Gaziosmanpaşa’ da ise bir ilkokul, bir ortaokul,
            bir Anadolu bir de Fen Lisesi olarak toplam 6 okulu ile eğitime hizmet etmeye devam etmektedir.</h4>
        <hr>
        <h4>Okulumuz 2011 yılından itibaren liselerinde bir düzenleme yaparak eğitim öğretime Fen Lisesi ve Anadolu
            Lisesi olarak devam etme kararı almıştır.

            2015-2016 eğitim öğretim yılında Özel Gaziosmanpaşa Şefkat İlkokulu bünyesinde üstün yetenekli öğrenciler
            için özel proje sınıfı açılmıştır. Proje 2018-2019 yılından itibaren bütün ilkokulumuzda uygulanmaya
            başlanmıştır.

            Günümüz itibariyle Bahçelievler’de bir ilkokul ve ortaokul; Gaziosmanpaşa’ da ise bir ilkokul, bir ortaokul,
            bir Anadolu bir de Fen Lisesi olarak toplam 6 okulu ile eğitime hizmet etmeye devam etmektedir.</h4>

        <hr>
    </div>

 