<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Örnek</title>
 

</head>
<body>
    <h1>EVET SAV</h1>
    <hr>
    <ul>
        <% for(var i=0; i<bilgim.length; i++) {%>
           <li><%= bilgim[i].ogrencilerid %> -  <%= bilgim[i].ogrenciadi %></li>
        <% } %>
        </ul>
    <h1>BURASI DA</h1>

 
</body>
</html>