 <style>
     .center {
         display: block;
         margin-left: auto;
         margin-right: auto;
         box-shadow: 0 2px 8px 2px rgb(68, 45, 45);
     }
 </style>

 <div class="container">
     GAZİOSMANPAŞA – Karadeniz Mah.Cebeci Cad.1160/1 No:2 Gaziosmanpaşa / İSTANBUL Tel:(0212)649 68 23 –
     Fax:(0212)649 68 27 – E-Mail:info@sefkat.k12.tr
     <hr>
     <div class="center">
         <iframe
             src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d539.3622150089539!2d28.889798563254768!3d41.08318661415355!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab045f556d5f5%3A0xf2742e381a6c3866!2zw5Z6ZWwgR2F6aW9zbWFucGHFn2EgxZ5lZmthdCDEsGxrw7bEn3JldGltIE9rdWx1IHZlIEtvbGVqaQ!5e0!3m2!1str!2str!4v1623601691182!5m2!1str!2str"
             width="1107" height="750" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
     </div>
 </div>