<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 2px 8px 2px rgb(68, 45, 45);
        width: 40%;
    }

    .bas {
        text-align: center;
        font-size: 30px;
        font-weight: 900;
        color: rgb(133, 46, 46);

    }
</style>
<div class="container">
    <div class="bas" style="    box-shadow: 0 2px 8px 2px rgb(68, 45, 45);">ŞEFKAT OKULLARI <br> ONLİNE KÜTÜPHANE
        PROGRAMI</div>
    <br>
    <img src="images/kitaplik.jpg" class="center">
</div>